<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MoviesManager.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MoviesManager.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MoviesManager.Settings>
            <setting name="DaoFactoryClass" serializeAs="String">
                <value>MoviesManager.DataAccess.SqlDaoFactory</value>
            </setting>
        </MoviesManager.Settings>
    </userSettings>
    <applicationSettings>
        <MoviesManager.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\kalic\Source\Repos\movies-manager\MoviesManager\MoviesDatabase.mdf;Integrated Security=True</value>
            </setting>
        </MoviesManager.Settings>
    </applicationSettings>
</configuration>